*{
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
p{
  color: #606060;
  font-family: Heebo;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 1px;
  margin: 0;
}
:root{
 --main_color:#385115;
 --n-main_color:#9DB994;
 --e--main_color:#91A691;
 --v_main-color:#D3BBA5;
}
/* ===navbar menu===== */
ul.menu-ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: start;
}
ul.menu-ul li {
  list-style: none;
  margin: 0 10px;
}
ul.menu-ul li a {
  color: #572c02;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  font-style: inherit;
  font-weight: 500;
  letter-spacing: 1px;
}
.header-logo img {
  width: 200px;
}
nav.nav-menu {
  align-items: center;
  padding: 1rem 0;
}
.header-social-media a {
  color: #572c02;
  text-decoration: none;
  font-size: 18px;
  margin: 0 8px;
}
.header-social-media {
  display: flex;
  justify-content: end;
}
/* ====banner slider css======= */
